<%- include('partials/header', { title: 'Home' }) %>

<div class="sticky-footer-wrapper">
    <div class="sticky-footer-content">
        <article class="home-article fadeIn">
            <h1><center>Welcome to Eid Gift Ideas</center></h1>
        </article>

        <section class="home-section fadeIn">
            <div id="gifts_pic" class="slideshow-container">
                <img class="mySlides" src="/assets/images/eid_pic1.jpg" alt="My Picture 2">
                <img class="mySlides" src="/assets/images/eic_pic2.jpg" alt="My Picture 3">
            </div>

            <div id="gifts">
                <p></p>
                <p>Explore a curated collection of gifts that will bring joy to your loved ones this Eid.</p>
                <p>From thoughtful presents for family members to unique items for friends, find the perfect gift to celebrate this special occasion.</p>
                <p>Whether it's traditional items, handmade crafts, or modern gadgets, discover a range of options that reflect the spirit of Eid.</p>
            </div>
        </section>
    </div>
</div>

<style>
    /* Common styling for animated elements */
    .fadeIn {
        opacity: 0;
        animation: fadeInAnimation 1.5s ease-in-out forwards;
    }

    @keyframes fadeInAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    h1 {
            text-align: center;
            padding-top: 10px; /* Adding padding at the top */
            font-weight: bold; /* Applying bold font */
            font-family: Arial, sans-serif; /* Optional: changing font-family */
        }

    /* Additional styling for images */
    #gifts_pic {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    #gifts_pic img {
        width: 300px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    #gifts_pic img:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    /* Additional styling for sections */
    .home-section {
        padding: 20px;
        text-align: center;
        font-family: 'Helvetica', sans-serif;
        font-size: 18px;
        line-height: 1;
        color: #333;
    }

    .home-article {
        text-align: center;
        padding-top: 100px;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }
</style>


<%- include('partials/footer') %>